<!DOCTYPE html>
<html>
<head>
    <title>Collapsible Divs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div id="accordion">
            {% for date in videos_dict %}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne{{date.date}}" aria-expanded="true" aria-controls="collapseOne">
                            {{date.date}}
                        </button>
                    </h5>
                </div>

                <div id="collapseOne{{date.date}}" class="collapse" aria-labelledby="headingOne" >
                    <div class="card-body">
                        <div id="nestedAccordion1">
                            {% for match in date.matches %}
                            <div class="card">
                                <div class="card-header" id="nestedHeading1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#nestedCollapse1{{match.match_name|replace(' ','_') }}" aria-expanded="true" aria-controls="nestedCollapse1">
                                            {{match.match_name}}
                                        </button>
                                    </h5>
                                </div>

                                <div id="nestedCollapse1{{match.match_name|replace(' ','_')}}" class="collapse" aria-labelledby="nestedHeading1" >
                                    <div class="card-body">
                                        <div id="nestedAccordion2">
                                            {% for i in range(1,6) %}
                                            <div class="card">
                                                <div class="card-header" id="nestedHeading2">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link" data-toggle="collapse" data-target="#nestedCollapse2{{i}}" aria-expanded="true" aria-controls="nestedCollapse2">
                                                            Map {{ i }}
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="nestedCollapse2{{i}}" class="collapse" aria-labelledby="nestedHeading2" >
                                                    {% if match.details[i-1] is defined %}
                                                        {{ match.details[i-1].embed_link|safe }}
                                                    {% else %}
                                                        <p>No hay vídeo para este mapa en el día de hoy. Si debería haber mapa comprueba en la fecha del día siguiente por si hubiera habido algún late update de LVP.</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>