<!DOCTYPE html>
<html>
<head>
    <title>Collapsible Divs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Open Collapsible 1
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                    <div class="card-body">
                        <div id="nestedAccordion1">
                            <div class="card">
                                <div class="card-header" id="nestedHeading1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#nestedCollapse1" aria-expanded="true" aria-controls="nestedCollapse1">
                                            Open Nested Collapsible 1
                                        </button>
                                    </h5>
                                </div>

                                <div id="nestedCollapse1" class="collapse" aria-labelledby="nestedHeading1">
                                    <div class="card-body">
                                        <div id="nestedAccordion2">
                                            <div class="card">
                                                <div class="card-header" id="nestedHeading2">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link" data-toggle="collapse" data-target="#nestedCollapse2" aria-expanded="true" aria-controls="nestedCollapse2">
                                                            Open Nested Collapsible 2
                                                        </button>
                                                    </h5>
                                                </div>

                                                <div id="nestedCollapse2" class="collapse" aria-labelledby="nestedHeading2">
                                                    <div class="card-body">
                                                        <div id="nestedAccordion3">
                                                            <div class="card">
                                                                <div class="card-header" id="nestedHeading3">
                                                                    <h5 class="mb-0">
                                                                        <button class="btn btn-link" data-toggle="collapse" data-target="#nestedCollapse3" aria-expanded="true" aria-controls="nestedCollapse3">
                                                                            Open Nested Collapsible 3
                                                                        </button>
                                                                    </h5>
                                                                </div>

                                                                <div id="nestedCollapse3" class="collapse" aria-labelledby="nestedHeading3">
                                                                    <div class="card-body">
                                                                        Content for nested collapsible 3
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>